* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    position: absolute;
    top: 100px;
    left: 50px;
    width: calc(100% - 100px);
    height: calc(100% - 150px);
    min-width: 0;
    border: 1px solid black;
}
