.controls {
    display: flex;
    padding: 0 50px;
    height: 100px;
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 30px;
        width: 200px;
    }

    .color-control {
        display: flex;
        flex-direction: column;

        &__header {
            display: flex;
        }

        &__sample {
            width: 20px;
            height: 20px;
            border: 1px solid #aaa;
            margin: 0 10px;
        }

        .color-field-control {
            display: flex;

            &__label {
                width: 50px;
            }
        }
    }
}
