.presets {
    position: absolute;
    bottom: 0;
    height: 50px;
    margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        margin-right: 10px;
    }

    &__button {
        height: 40px;
        padding: 5px;
        min-width: 100px;
        margin: 5px;
    }
}
